name: go-bench

on:
  workflow_dispatch:

permissions:
  contents: read

env:
  GOPRIVATE: "github.com/abema/crema"

jobs:
  go-bench:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.24", "1.25"]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ matrix.go-version }}
          cache: false
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: v1-${{ runner.os }}-go-bench-${{ matrix.go-version }}-${{ hashFiles('go.work.sum', '**/go.sum') }}
          restore-keys: |
            v1-${{ runner.os }}-go-bench-${{ matrix.go-version }}-
      - name: setup-git
        run: git config --global url."https://github-actions:${{ secrets.GITHUB_TOKEN }}@github.com/abema/crema".insteadOf "https://github.com/abema/crema"
      - name: Go bench
        run: go test -v -run='^$' -bench=. ./... $(find ./ext/ -type d -mindepth 1 -maxdepth 1 | sed 's|$|/...|' | paste -sd ' ' -)
